## Start here
### loading and cleaning dataset:

In [2]:
import pandas as pd

In [ ]:
#read in data"
file_path = "C:\\Users\\jessi\\Desktop\\DSML\\Chicago\\Chicago\\"
Chicago_set = pd.read_csv("{}chicago_2016.csv".format(file_path), sep=",", parse_dates=["start_time","end_time"])

In [ ]:
Chicago_set.columns

In [ ]:
Chicago_set.info

In [10]:
#checking for null values
Chicago_set.isnull()

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
3595378,False,False,False,False,False,False,False,False
3595379,False,False,False,False,False,False,False,False
3595380,False,False,False,False,False,False,False,False
3595381,False,False,False,False,False,False,False,False
3595382,False,False,False,False,False,False,False,False

In [ ]:
#grouping dataset by stations
end_station_name_groups_mean = Chicago_set.groupby("end_station_name").mean()

In [ ]:
end_station_name_groups_mean

### apparently no null values....

### Geographical demand patterns:

In [ ]:
#imports
import numpy as np
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
import seaborn as sns
sns.set()
sns.set_style("white")
sns.set_palette("GnBu_d")

import folium
from folium import plugins
from folium.plugins import HeatMap
from datetime import datetime #for working with times objects
from datetime import timedelta #for working with times objects
import math
import random
import timeit