## Start here
### loading and cleaning dataset:

In [2]:
import pandas as pd

In [7]:
#read in data"
file_path = "C:\\Users\\jessi\\Desktop\\DSML\\Chicago\\Chicago\\"
Chicago_set = pd.read_csv("{}chicago_2016.csv".format(file_path), sep=",")

In [8]:
Chicago_set.columns

Index(['start_time', 'end_time', 'start_station_id', 'end_station_id',
       'start_station_name', 'end_station_name', 'bike_id', 'user_type'],
      dtype='object')

In [9]:
Chicago_set.info

<bound method DataFrame.info of                  start_time            end_time  start_station_id  \
0           3/31/2016 23:53       4/1/2016 0:07               344
1           3/31/2016 23:46     3/31/2016 23:57               128
2           3/31/2016 23:42     3/31/2016 23:46               350
3           3/31/2016 23:37     3/31/2016 23:55               303
4           3/31/2016 23:33     3/31/2016 23:37               334
...                     ...                 ...               ...
3595378  10/1/2016 00:01:08  10/1/2016 00:04:42                56
3595379  10/1/2016 00:00:58  10/1/2016 00:09:33               255
3595380  10/1/2016 00:00:41  10/1/2016 00:04:19                56
3595381  10/1/2016 00:00:32  10/1/2016 00:16:02               298
3595382  10/1/2016 00:00:14  10/1/2016 00:16:02               298

         end_station_id              start_station_name  \
0                   458   Ravenswood Ave & Lawrence Ave
1                   213         Damen Ave & Chicago Ave
2                   210       Ashland Ave & Chicago Ave
3                   458         Broadway & Cornelia Ave
4                   329     Lake Shore Dr & Belmont Ave
...                 ...                             ...
3595378             133       Desplaines St & Kinzie St
3595379               4      Indiana Ave & Roosevelt Rd
3595380             133       Desplaines St & Kinzie St
3595381             460  Lincoln Ave & Belle Plaine Ave
3595382             460  Lincoln Ave & Belle Plaine Ave

                      end_station_name  bike_id   user_type
0             Broadway & Thorndale Ave      155  Subscriber
1               Leavitt St & North Ave     4831  Subscriber
2            Ashland Ave & Division St     4232  Subscriber
3             Broadway & Thorndale Ave     3464  Subscriber
4        Lake Shore Dr & Diversey Pkwy     1750  Subscriber
...                                ...      ...         ...
3595378       Kingsbury St & Kinzie St     3999  Subscriber
3595379                 Burnham Harbor     2483  Subscriber
3595380       Kingsbury St & Kinzie St     3892  Subscriber
3595381       Clark St & Bryn Mawr Ave     3567  Subscriber
3595382       Clark St & Bryn Mawr Ave     5320    Customer

[3595383 rows x 8 columns]>

In [10]:
#checking for null values
Chicago_set.isnull()

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
3595378,False,False,False,False,False,False,False,False
3595379,False,False,False,False,False,False,False,False
3595380,False,False,False,False,False,False,False,False
3595381,False,False,False,False,False,False,False,False
3595382,False,False,False,False,False,False,False,False

In [12]:
#grouping dataset by stations
end_station_name_groups_mean = Chicago_set.groupby("end_station_name").mean()

In [15]:
end_station_name_groups_mean

                              start_station_id  end_station_id      bike_id
end_station_name
2112 W Peterson Ave                 422.009862           456.0  2906.205128
63rd St Beach                       241.396030           101.0  3057.584121
900 W Harrison St                   144.653638           109.0  2887.017623
Aberdeen St & Jackson Blvd          145.217299            21.0  2954.451306
Aberdeen St & Monroe St             142.105640            80.0  2886.713587
...                                        ...             ...          ...
Wood St & Taylor St                 129.753641           317.0  2876.044394
Woodlawn Ave & 55th St              336.361818           248.0  2830.511021
Woodlawn Ave & 75th St              349.125000           569.0  3034.750000
Woodlawn Ave & Lake Park Ave        286.551363           413.0  2907.749476
Yates Blvd & 75th St                372.047059           396.0  3113.529412

[587 rows x 3 columns]

### apparently no null values....

### Geographical demand patterns:

In [ ]:
#imports
import numpy as np
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
import seaborn as sns
sns.set()
sns.set_style("white")
sns.set_palette("GnBu_d")

import folium
from folium import plugins
from folium.plugins import HeatMap
from datetime import datetime #for working with times objects
from datetime import timedelta #for working with times objects
import math
import random
import timeit