In [1]:
# libraries
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt

In [2]:
# einlesen der Daten:
chicago = pd.read_csv('chicago_2016.csv', parse_dates=["start_time","end_time"])

In [3]:
chicago.head()

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type
0,2016-03-31 23:53:00,2016-04-01 00:07:00,344,458,Ravenswood Ave & Lawrence Ave,Broadway & Thorndale Ave,155,Subscriber
1,2016-03-31 23:46:00,2016-03-31 23:57:00,128,213,Damen Ave & Chicago Ave,Leavitt St & North Ave,4831,Subscriber
2,2016-03-31 23:42:00,2016-03-31 23:46:00,350,210,Ashland Ave & Chicago Ave,Ashland Ave & Division St,4232,Subscriber
3,2016-03-31 23:37:00,2016-03-31 23:55:00,303,458,Broadway & Cornelia Ave,Broadway & Thorndale Ave,3464,Subscriber
4,2016-03-31 23:33:00,2016-03-31 23:37:00,334,329,Lake Shore Dr & Belmont Ave,Lake Shore Dr & Diversey Pkwy,1750,Subscriber

In [4]:
#überprüfen, ob null values vorhanden sind
chicago.isnull()

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
3595378,False,False,False,False,False,False,False,False
3595379,False,False,False,False,False,False,False,False
3595380,False,False,False,False,False,False,False,False
3595381,False,False,False,False,False,False,False,False
3595382,False,False,False,False,False,False,False,False

In [5]:
# hinzufügen der Dauer der Fahrt
chicago["duration"] = (chicago["end_time"] - chicago["start_time"]).astype("timedelta64[m]")

In [32]:
chicago[chicago["duration"]<=1]

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type,duration
335,2016-03-31 20:51:00,2016-03-31 20:52:00,175,41,Wells St & Polk St,Federal St & Polk St,1183,Subscriber,1.0
629,2016-03-31 19:45:00,2016-03-31 19:46:00,48,48,Larrabee St & Kingsbury St,Larrabee St & Kingsbury St,3954,Subscriber,1.0
729,2016-03-31 19:29:00,2016-03-31 19:30:00,423,423,University Ave & 57th St,University Ave & 57th St,606,Subscriber,1.0
785,2016-03-31 19:21:00,2016-03-31 19:22:00,98,98,LaSalle St & Washington St,LaSalle St & Washington St,4429,Subscriber,1.0
813,2016-03-31 19:18:00,2016-03-31 19:19:00,100,100,Orleans St & Merchandise Mart Plaza,Orleans St & Merchandise Mart Plaza,702,Subscriber,1.0
...,...,...,...,...,...,...,...,...,...
3595094,2016-10-01 02:48:50,2016-10-01 02:50:35,52,264,Michigan Ave & Lake St,Stetson Ave & South Water St,5555,Customer,1.0
3595095,2016-10-01 02:48:43,2016-10-01 02:50:16,52,264,Michigan Ave & Lake St,Stetson Ave & South Water St,2408,Customer,1.0
3595126,2016-10-01 02:19:38,2016-10-01 02:20:49,89,175,Financial Pl & Congress Pkwy,Wells St & Polk St,5057,Subscriber,1.0
3595226,2016-10-01 01:17:29,2016-10-01 01:19:09,349,127,Halsted St & Wrightwood Ave,Lincoln Ave & Fullerton Ave,4514,Subscriber,1.0
3595230,2016-10-01 01:14:09,2016-10-01 01:15:30,144,144,Larrabee St & Webster Ave,Larrabee St & Webster Ave,4485,Subscriber,1.0

In [6]:
# Entfernen von Fahrten, die kürzer oder gleich eine Minute waren und die gleiche Start- und Endstationen haben
filtered_data = chicago[ ~((chicago["start_station_name"] == chicago["end_station_name"]) & (chicago["duration"] <= 1.0)) ]

In [7]:
filtered_data["user_type"].unique()

array(['Subscriber', 'Customer', 'Dependent'], dtype=object)

In [8]:
dependent = filtered_data[filtered_data["user_type"]=="Dependent"]
print(dependent["user_type"].size)
print(dependent["start_station_id"].unique().size)

40
8

In [9]:
# Dependent machen nur einen winzigen Teil aus -> kann für die Analyse vernachlässigt werden
filtered_data = filtered_data[filtered_data["user_type"]!="Dependent"]

In [10]:
filtered_data["user_type"].unique()

array(['Subscriber', 'Customer'], dtype=object)

In [11]:
# doppelte Reihen entfernen
print(filtered_data["user_type"].size)
filtered_data = filtered_data.drop_duplicates()
print(filtered_data["user_type"].size)

3586396
3586330

In [12]:
filtered_data.to_csv("prepared_data.csv")

Error: Pip module Unable to parse debugpy output, please log an issue with https://github.com/microsoft/vscode-jupyter is required for debugging cells. You will need to install it to debug cells.