# Temporal Demand Patterns and Seasonality

In [12]:
# libraries
import pandas as pd
import numpy as np
import datetime

In [42]:
# import:
chicago = pd.read_csv('../chicago_2016.csv', parse_dates=["start_time","end_time"])

## Usage during a day
### Classification:
* Morning: 6 a.m. - 10 a.m.
* Mid-morning: 10 a.m. - 12 p.m.
* Noon: 12 p.m - 2 p.m.
* Afternoon: 2 p.m. - 5 p.m.
* Evening: 5 p.m. - 9 p.m.
* Night: 9 p.m. - 6 a.m.

In [43]:
# overview
chicago.head()

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type
0,2016-03-31 23:53:00,2016-04-01 00:07:00,344,458,Ravenswood Ave & Lawrence Ave,Broadway & Thorndale Ave,155,Subscriber
1,2016-03-31 23:46:00,2016-03-31 23:57:00,128,213,Damen Ave & Chicago Ave,Leavitt St & North Ave,4831,Subscriber
2,2016-03-31 23:42:00,2016-03-31 23:46:00,350,210,Ashland Ave & Chicago Ave,Ashland Ave & Division St,4232,Subscriber
3,2016-03-31 23:37:00,2016-03-31 23:55:00,303,458,Broadway & Cornelia Ave,Broadway & Thorndale Ave,3464,Subscriber
4,2016-03-31 23:33:00,2016-03-31 23:37:00,334,329,Lake Shore Dr & Belmont Ave,Lake Shore Dr & Diversey Pkwy,1750,Subscriber

In [44]:
# compute driving time
chicago['driving_time'] = chicago['end_time']-chicago['start_time']

In [45]:
chicago.head()

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type,driving_time
0,2016-03-31 23:53:00,2016-04-01 00:07:00,344,458,Ravenswood Ave & Lawrence Ave,Broadway & Thorndale Ave,155,Subscriber,0 days 00:14:00
1,2016-03-31 23:46:00,2016-03-31 23:57:00,128,213,Damen Ave & Chicago Ave,Leavitt St & North Ave,4831,Subscriber,0 days 00:11:00
2,2016-03-31 23:42:00,2016-03-31 23:46:00,350,210,Ashland Ave & Chicago Ave,Ashland Ave & Division St,4232,Subscriber,0 days 00:04:00
3,2016-03-31 23:37:00,2016-03-31 23:55:00,303,458,Broadway & Cornelia Ave,Broadway & Thorndale Ave,3464,Subscriber,0 days 00:18:00
4,2016-03-31 23:33:00,2016-03-31 23:37:00,334,329,Lake Shore Dr & Belmont Ave,Lake Shore Dr & Diversey Pkwy,1750,Subscriber,0 days 00:04:00

In [46]:
chicago['start_time'].size

3595383

In [47]:
# drop rows where driving time is less than 1 min
for i in range(chicago['driving_time'].size-1):
    if chicago.at[i,'driving_time'].total_seconds() < 60:
        chicago = chicago.drop(i)

In [48]:
chicago['start_time'].size

3595325

In [52]:
morning_start = chicago
for i in range (morning_start['start_time'].size):
    if morning_start.at[i,'start_time'].hour < 6 | morning_start.at[i,'start_time'].hour > 10:
        morning_start = morning_start.drop(i)

AttributeError: 'Series' object has no attribute 'hour'